<%- include('header') -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% for (let i = 0; i < newEntries.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%=newEntries[i]%></p>
      </div>
      <% } %>
    <form action="/" method="POST">
      <input type="text" name="entry" placeholder="New Entry" autocomplete="off"/>
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
    </div>
<%- include('footer') -%>